{% extends 'layout.html' %}

{% block title %}Profile | Artify{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 text-center">
    <img src="{{ url_for('static', filename='img/' + user.avatar) }}" class="img-fluid rounded-circle mb-3" alt="Avatar">
    <h4>{{ user.username }}</h4>
    <p>{{ user.email }}</p>
  </div>
  <div class="col-md-8">
    <h4>Edit Profile</h4>
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.fullname.label(class="form-label") }}
        {{ form.fullname(class="form-control") }}
        {% for error in form.fullname.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{ form.avatar.label(class="form-label") }}
        {{ form.avatar(class="form-control") }}
        {% for error in form.avatar.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      {{ form.submit(class="btn btn-primary") }}
    </form>
  </div>
</div>
{% endblock %}